GIN_MODE=debug
APP_NAME=TwitchAIBot
SERVER_PORT=8080
TWITCH_CLIENT_NAME=name
TWITCH_CLIENT_ID=your_client_id
TWITCH_CLIENT_SECRET=your_client_secret
TWITCH_CLIENT_REDIRECT_URI=your_client_redirect_url
TWITCH_BROADCASTER_ID=your_id
TWITCH_BOT_USER_ID=your_id
