GIN_MODE=debug
APP_NAME=TwitchAIBot
SERVER_PORT=8080
SERVER_TRUSTED_PROXIES=localhost
TWITCH_CLIENT_ID=your_client_id
TWITCH_CLIENT_SECRET=your_client_secret
TWITCH_CLIENT_REDIRECT_URI=http://localhost:8080/api/auth/callback/twitch
TWITCH_BROADCASTER_ID=your_id
TWITCH_BOT_USER_ID=your_id
TWITCH_BOT_USER_NAME=your_name
TWITCH_KEY_WORD_TO_CALL_BOT=jesus
GROQ_API_KEY=your_key
GROQ_MODEL=openai/gpt-oss-120b
GROQ_MODEL_FALLBACK=llama-3.3-70b-versatile
GROQ_MAX_CONTEXT_INPUT=25
CONTEXT_REQUEST_DURATION=15s
